/* Products */

#products {
  background-color: _palette(bg-alt);

  section {
    width: 100%;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    padding-right: 4em;
  }

  a {
    margin: 2em 1em 0 0;
  }
}

#officeMisters {
  background-color: _palette(accent6);
}

#handSanitiser {
  background-color: _palette(accent1);
}

#airPurification {
  background-color: _palette(white);
  h2, h3, h4, h5, li, p, a, Link {
    color: _palette(bg);
  }
  .button {
    &:hover, &:active {
			box-shadow: inset 0 0 0 2px _palette(black);
			color: _palette(black);
		}
  }
}

#handSanitiserPage,
#cleanProtectionPage,
#servicesPage {
  .inner {
    display: flex;
    flex-wrap: wrap;
  }
  img {
    width: calc(100% + 0.5em);
  }
  .small-img {
    width: calc(50% + 0.5em);
  }
}

#officeMistersPage {
  img {
    width: calc(35% + 0.5em);
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}
