/* Products */

	#products {
		background-color: _palette(bg-alt);

		section {
			width: 100%;
		}

		.inner {
			display: flex;
			flex-wrap: wrap;
		}

		img {
			padding-right: 4em;
		}

		a {
			margin: 2em 1em 0 0;
		}

	}

	#airProtection {
		background-color:_palette(accent6);
	}

	#disinfect {
		background-color:_palette(accent1);
	}

	#disinfectPage, #supercleanPage, #airprotectionPage {
		
		.inner {
			display: flex;
			flex-wrap: wrap;
		}
	}
